{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "airbnb",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript"
    ],
    "rules": {
        "max-len": "off",
        "strict": "off",
        "no-mixed-operators": "off",
        "linebreak-style": "off",
        "no-underscore-dangle": "off",
        "comma-dangle": [
            2,
            "always-multiline"
        ],
        "object-curly-newline": "off",
        "@typescript-eslint/explicit-function-return-type": "off"
    }
}